/* GENERAL RULES */

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER;NAV */

header {
  background-color: #ffc017;
  border-bottom: 1px solid rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-weight: 300;
  font-size: 0.8rem;
}

.cta {
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* MAIN */

main {
  background-color: #ffc017;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
}

.leftMain {
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: -4px;
}

h4 {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: 400;
}

.mainCta {
  margin-top: 30px;
  padding: 10px 40px;
  font-size: 1.1rem;
}

/* PRE ARTICLE */

article {
  padding: 0 90px;
}

.preArticle {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.preArticle p {
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-left: 10px;
}

/* ARTICLE CARD */

.articleCard {
  display: flex;
  width: 22rem;
  margin-top: 10px;
}

.numberChart {
  font-size: 30px;
  color: rgba(230, 230, 230, 1);
}

.autor {
  margin-left: 15px;
}

.autorName {
  display: flex;
  align-items: center;
}

.potrait {
  border-radius: 50%;
  width: 1.3rem;
}

.name {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
}

.articleTitle {
  margin-top: 13px;
  font-weight: bold;
}

.date {
  margin-top: 13px;
  color: rgba(117, 117, 117, 1);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.star {
  margin-left: 10px;
}

/* ARTICLE DIRECTION */

.articleDirection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.marginTop {
  margin-top: 30px;
}
