/* GENERAL RULES */

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER;NAV */

header {
  background-color: #ffc017;
  border-bottom: 1px solid rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-weight: 300;
  font-size: 0.8rem;
}

.cta {
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* MAIN */

main {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
  padding: 20px 0;
}

.leftMain {
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: -4px;
}

h4 {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: 400;
}

.mainCta {
  margin-top: 30px;
  padding: 10px 40px;
  font-size: 1.1rem;
}

/* PRE ARTICLE */

article {
  padding: 0 90px;
}

.preArticle {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.preArticle p {
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-left: 10px;
}

/* ARTICLE CARD */

.articleCard {
  display: flex;
  width: 22rem;
  margin-top: 10px;
}

.numberChart {
  font-size: 30px;
  color: rgba(230, 230, 230, 1);
}

.autor {
  margin-left: 15px;
}

.autorName {
  display: flex;
  align-items: center;
}

.potrait {
  border-radius: 50%;
  width: 1.3rem;
}

.name {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
}

.articleTitle {
  margin-top: 13px;
  font-weight: bold;
}

.date {
  margin-top: 13px;
  color: rgba(117, 117, 117, 1);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.star {
  margin-left: 10px;
}

/* ARTICLE DIRECTION */

.articleDirection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.marginTop {
  margin-top: 30px;
}

/* SECTION */

section {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  margin-top: 90px;
}

/* CARD SECTION */

.cardSection {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

.leftCardSection {
  padding-right: 20px;
}

.rightCardSection {
  max-width: 100%;
}

.autorAllign {
  margin-left: 0px;
}

.articleText {
  color: rgba(117, 117, 117, 1);
  margin-top: 10px;
  font-size: 0.9rem;
}

.imgArticle {
  width: 200px;
  height: 134px;
  object-fit: cover;
}

.starAllign {
  display: flex;
  align-items: center;
}

.sectionArticleDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt {
  margin-top: 30px;
}

/* ASIDE */

aside {
  padding-left: 90px;
}

aside p {
  letter-spacing: 0.083em;
  font-size: 12px;
  color: rgba(41, 41, 41, 1);
  font-weight: 700;
  margin-left: 5px;
  margin-bottom: 20px;
}
.buttonAside {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.ctaAside {
  font-size: 0.8rem;
  border: none;
  background-color: white;
  color: rgba(117, 117, 117, 1);
  border: 1px solid rgba(117, 117, 117, 0.379);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.finalLinks {
  border-top: 1px solid rgba(117, 117, 117, 0.318);
  display: flex;
  flex-wrap: wrap;
}

.links {
  margin-top: 30px;
  margin-left: 5px;
}

.finalLinks a {
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  font-size: 0.8rem;
  margin-right: 20px;
}

header {
  position: sticky;
  top: 0;
}

.active {
  background-color: white;
  color: black;
  z-index: 3;
}

.greenCta {
  background-color: green;
  color: white;
}

/* MOBILE */

@media only screen and (max-width: 576px) {
  .rightNav a {
    display: none;
  }

  .rightMain svg {
    display: none;
  }

  .leftCardSection {
    width: 90%;
  }

  .cardSection {
    width: 20rem;
  }

  .imgArticle {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .name {
    font-size: 0.7rem;
  }

  .articleTitle {
    font-size: 0.9rem;
    margin-top: 3px;
  }

  .articleText {
    font-size: 0.8rem;
  }

  .leftDate {
    font-size: 0.6rem;
  }

  .date {
    margin-top: 3px;
  }
}

/* TABLET */

@media only screen and (max-width: 768px) {
  nav {
    padding: 20px 40px;
  }

  .leftMain {
    padding: 40px 40px;
    display: flex;
  }

  h1 {
    font-size: 4.7rem;
  }

  .rightMain {
    width: 200px;
  }

  article {
    padding: 0 40px;
  }

  .articleCard {
    display: flex;
    width: 18rem;
    margin-top: 10px;
  }

  .md {
    margin-top: 35px;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 40px;
    margin-top: 90px;
  }

  aside {
    padding: 0 0px;
  }

  .finalLinks {
    margin-bottom: 20px;
  }
}
